.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.description {
  font-size: 1.1rem;
  color: var(--text-muted);
  width: 60%;
  text-align: center;
}
