.list {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  color: var(--text-muted);
  gap: 2rem;
  font-size: 1.5rem;
}

.list li:hover {
  color: var(--text);
  font-weight: 300;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

@media (min-width: 768px) {
  .list {
    display: flex;
    flex-direction: row;
  }
}
