.footer {
  display: flex;
  font-size: x-small;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--text-muted);
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .footer {
    font-size: small;
  }
}
